@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-custom: var(--font-custom);
}

/**                                 ***
 **                                 ***
 **         COLOR THEMES            ***
 **                                 ***
*/
/* Start with root */
:root {
  --background: var(--color-amber-50);
  --midground: var(--color-violet-200);
  --foreground: var(--color-slate-950); 
}

/* Respect system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-900);
    --midground: var(--color-slate-950);
    --footer: var(--color-indigo-950);
    --foreground: var(--color-violet-100);
  }
}

/* Manual override */
[data-theme="light"] {
  --background: var(--color-amber-50);
  --midground: var(--color-violet-200);
  --footer: var(--color-zinc-50);
  --foreground: var(--color-slate-950);
}

[data-theme="dark"] {
  --background: var(--color-stone-900);
  --midground: var(--color-slate-950);
  --footer: var(--color-indigo-950);
  --foreground: var(--color-violet-100);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
}

main {
  background-color: var(--background);
}

#sub-header{
  white-space: pre;
}

.bio-avatar{
  border-radius: 100%
}

a:hover{
  color: var(--color-blue-600);
  text-decoration: none;
  font-weight: 600;
}

button{
  border: 1px solid var(--foreground);
  box-shadow: 3px 4px var(--foreground);
  border-radius: 25px;
  margin: 2px 4px 4px 2px;
}

.download-link {
  border: 1px solid var(--foreground);
  box-shadow: 3px 4px var(--foreground);
  border-radius: 25px;
  margin: 2px 4px 4px 2px;
}

button:hover{
  background-color: var(--color-fuchsia-400);
}

h1{
  font-family: var(--font-dreamer);
  letter-spacing: 0.2rem;
  font-size: 3rem;
  line-height: normal;
}

h2{
  /* letter-spacing: 0.2rem; */
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

h3{
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  line-height: normal;
}

.inline-link:hover{
  padding: 4px;
  background-color: var(--color-violet-400);
  border: 1px solid var(--foreground);
  box-shadow: 3px 4px var(--foreground);
  color: var(--foreground);
  border-radius: 25px;
  margin: 2px 4px 4px 2px;
}

.badge{
  border: 1px solid var(--foreground);
  border-radius: 25px;
  margin: 2px 4px 4px 2px;
  padding: 2px 4px 2px 4px;
  font-weight: 600;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  h2{
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
  }

  h3 {
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
  }
}